h1,
h2,
h3,
h4 {
    text-align: center;
}

p,
li{
    font-size: 1.5rem;
}


.NavBar{
    display: flex;
    justify-content: space-between;
    height: 200px;
    background-color: #47A2C7;
}

.NavBar img{
    height: 200px;
    width: 200px;
    margin: 0 20px;
}



.Navs{
    display: flex;
    justify-content: space-around;
    width: calc(100% - 120px);
}

.Navs a{
    width: calc(100% / 4);
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E6E6E6;
    font-size: 25px;
}

.bigSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #285E73;
    flex-direction: row;
    
}

article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: row;
}

.halfSection {
    background-color: #285E73;
    width: 40%;
}
.halfSection img{
    width: 20%;
    margin: 15px;
}

.thirdSection {
    background-color: #285E73;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    width: 28%;
    border-radius: 25%;
}

.footer{
    box-sizing: border-box;
    display: flex;
    margin-top: 50px;
    width: 100%;
    background-color: #47A2C7;
    padding: 20px;
    color: #E6E6E6;
    justify-content: space-between;
}

.footer img{
    width: 80px;
    height: 80px;
}

.footerLeft{
    box-sizing: border-box;
}

.footerRight{

}
body{
    margin:0px;
    background-color: #e9e5e2;
    background-image: url("https://transparenttextures.com/patterns/diamond-upholstery.png");
}
h2{
    color: #00C43D;
    font-size: 4em;
}
h3,
h4{
    color: #FBEBD4;
    font-size: 2em;
    padding: 5px;
}

.hero{
    width: 100%;
}

.center {
    background-color: #285E73;
    display: flex;
    align-items: center;
    margin: 50px;
    margin-left: 8vw;
    margin-right:8vw;
    justify-content: space-around;
    border-radius: 40px;
}

.center-imgs {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: auto;
    padding: 10px;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    color: #E6E6E6;
}

ul {
    padding-bottom: 10px;
}

p {
    color: #E6E6E6;
    padding: 5px 5px 5px 15px;
}

#special {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2.5vw;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: space-evenly;
}

.row h2 {
    font-size: 30px;
}

/*button*/
.small{
    color:  #FBEBD4;
}

.centerimage {
    display:flex;
    justify-content:center;
}

.centerimage img {
    
}